@{
    Layout = @"~\shared\layout.cshtml";
    IEnumerable<dynamic> Res = new List<dynamic>();
    if (WebSecurity.IsAuthenticated)
    {

        var db = Database.Open("Shopping");




        if (Session["CurrentSale"] == null || Convert.ToString(Session["CurrentSale"]) == "" || Convert.ToString(Session["CurrentSale"]) == "-1")
        {
            var SaleRes = db.QuerySingle("select SaleID from Sale where Status = @0 and UserID=@1 ", "InProcess", WebSecurity.CurrentUserId);
            if (SaleRes != null)
            {
                Session["CurrentSale"] = SaleRes.SaleID;
            }
            else
            {
                Session["CurrentSale"] = -1;
            }
        }

        if (IsPost)
        {


            if (Request.Form["Deleted"] != "")
            {
                dynamic UpdateReq = db.QuerySingle("select ProductID,Quantity from SaleLineItems where SaleID=@0 ", Session["CurrentSale"]);
                if (UpdateReq != null)
                {
                    db.Execute("Update Products set Quantity = Quantity + @0 where Id = @1", UpdateReq.Quantity, UpdateReq.ProductID);
                }
                db.Execute("Delete from SaleLineItems where SaleID=@0 and LineId=@1", Session["CurrentSale"], Request.Form["Deleted"]);
                var NoofRows = db.QueryValue("Select count(*) from SaleLineItems where SaleID=@0", Session["CurrentSale"]);
                if (NoofRows == 0)
                {
                    db.Execute("Delete from Sale where SaleID=@0", Session["CurrentSale"], Request.Form["Deleted"]);
                }
            }
         //   Response.Write(Request.Form["DeleteSale"]);
           /* if (Request.Form["DeleteSale"] == "DeleteSale")
            {
                db.Execute("Delete from SaleLineItems where SaleID=@0", Session["CurrentSale"]);
                db.Execute("Delete from Sale where SaleID=@0", Session["CurrentSale"], Request.Form["Deleted"]);

            }
            * */

        }


        //    Res = null;
        if (Convert.ToInt32(Session["CurrentSale"]) != -1)
        {
            Res = db.Query("select Sli.LineID,Pd.Name,Pd.Price,Sli.Quantity from SaleLineItems as SLi LEFT JOIN Products as Pd ON Pd.Id= Sli.ProductId where Sli.SaleId=@0 ",
            Session["CurrentSale"]);
        }

    }
    else
    {
        Response.Redirect(@"..\");
    }
    double Total = 0;
    int count = 1;
}

<div class="row-fluid floatShadow well bgwhite">
    <h3 style="text-align: center">Current Cart</h3>

    <div class="row-fluid">
        <div class="span2 offset1">
            Id
        </div>
        <div class="span2 ">
            Name
        </div>
        <div class="span2 ">
            Price
        </div>

        <div class="span2 ">
            Quantity
        </div>

        <div class="span2 ">
            Total
        </div>


    </div>
    @foreach (var item in Res)
    {
        <text>

        <div class="row-fluid">
            <div class="span2 offset1">
                @(count++)
            </div>
            <div class="span2 ">
                @item.Name
            </div>
            <div class="span2 ">
                $@item.Price
            </div>

            <div class="span2 ">
                @item.Quantity
            </div>

            <div class="span2 ">
                @{
        Total += Convert.ToSingle(item.Price) * Convert.ToSingle(item.Quantity);
                }
                $@(Convert.ToSingle(item.Price) * Convert.ToSingle(item.Quantity))
            </div>
            <div class="span1 ">
                <form action="#" method="post">
                    <button class="btn btn-info" name="Deleted" value="@item.LineID"><i class="icon-white icon-remove"></i></button>

                </form>
            </div>
        </div>
        </text>
    }
    @if (Res.Count() != 0)
    {
        <text>
        <div class="row-fluid">
            <div class="span2 ">
            </div>
            <div class="span2 ">
            </div>
            <div class="span2 ">
            </div>

            <div class="span2 ">
                Total = 
            </div>

            <div class="span2 ">
                $@(Total)
            </div>
        </div>

        <div class="row-fluid">
            <div class="span4 offset5">

                <button id="checkout1" class="btn btn-info" type="submit" value="CheckOut" name="checkout">Checkout</button>

            </div>
            <div class="span4">
               @* <form method="post" action="#">

                    <button class="btn btn-info" type="submit" value="DeleteSale" name="DeleteSale">Delete </button>

                </form>*@
            </div>
        </div>
        <form id="Fh" method="post" action="CheckOut.cshtml">
            <div class="row-fluid">
                <div class="span4 offset3">
                    Please Enter Your Paypal Email
                </div>

                <div class="span4">

                    @Html.TextBox("email");
                
                </div>
            </div>
            <div class="row-fluid">
                <div class="span4 offset5">
                    <input type="hidden" value="@Total" name="sum" />
                    <input type="hidden" value="@Convert.ToString(Session["CurrentSale"])" name="ID" />

                    <button class="btn btn-info" type="submit">Confirm Checkout</button>
                    <button id="cancel" class="btn btn-info" type="submit">Cancel </button>

                </div>
            </div>
        </form>
        </text>
    }
    else
    {
        <text>
        You Cart is Empty. 
    </text>
    }

</div>


<script>
    $('#Fh').hide();
    $('#cancel').click(function () {
        $('#Fh').hide('slow');
        return false;
    });
    $('#checkout1').click(
        function () {
            $('#Fh').show('slow');


            return false;
        });

</script>
