@{
    Validation.Add("oldpassword",new [] {Validator.Required()});
    Validation.Add("newpassword1", new[] { Validator.Required(), Validator.StringLength(42, 6, "Too short") });
    Validation.Add("newpassword2", new[] { Validator.Required(), Validator.StringLength(42, 6, "Too short"),Validator.EqualsTo("newpassword1","Passwords do not match") });
    
    
    
    if (WebSecurity.IsAuthenticated)
    {
        if (IsPost && Validation.IsValid())
        {

            if (Convert.ToString(Request["newpassword1"]) == Convert.ToString(Request["newpassword2"]))
            {
                if (WebSecurity.ChangePassword(WebSecurity.CurrentUserName, Request["oldpassword"], Request["newpassword1"]))
                {
                    <text>
                    Password Successfully changed
                                    </text>
                }
                else
                {
                    <text>
                    Invalid password
                                </text>
                }
            }
        }
        else
        {
            <text>
@Html.ValidationSummary();
</text>
        }
        
    }
    else
    {
        Response.Redirect(@"~\");
    }
}


<div class="row-fluid">
    <div class="span8 " style="float: right">


        <form method="post" action="#">
            <table>


                <tr>
                    <td><b>Current Password</b> </td>
                    <td><input type="password" name="oldpassword" @Validation.For("oldpassword")/>@Html.ValidationMessage("oldpassword")
                        @*//@Html.Password("oldpassword") *@

                    </td>
                </tr>

                <tr>
                    <td><b>Password</b> </td>
                    <td>
                        <input type="password" name="newpassword1" @Validation.For("newpassword1") />@Html.ValidationMessage("newpassword1")
                        
                        @*@Html.Password("newpassword1")*@ 



                    </td>

                </tr>
                <tr>
                    <td><b>Re enter Password</b> </td>
                    <td>
                        <input type="password" name="newpassword2" @Validation.For("newpassword2") />@Html.ValidationMessage("newpassword2")
                        @*@Html.Password("newpassword2")*@ 


                    </td>
                </tr>
            </table>

            <div class="span2">
                <button type="submit" class="btn btn-info"><i class="icon-white icon-plus"></i>Change</button>
            </div>
            <div class="span2">
                <button type="reset" class="btn btn-info"><i class="icon-white icon-plus"></i>Reset</button>
            </div>

        </form>

    </div>
</div>
