@{
    
    //Response.Write(Session["CurrentSale"]);
    Validation.Add("Qty",new[]{ Validator.Required(" This validator is required"),Validator.Integer("Only Integer Values Allows"),Validator.Range(0,100,"Decimal out of range")});
    
        

    if (UrlData.Count == 0)
    {
        Response.Redirect(@"~\");
    }
    else
    {
        if (!UrlData[0].IsInt())
        {
            Response.Redirect(@"~\");
        }
    }
    bool Authorised = WebSecurity.IsAuthenticated && Roles.IsUserInRole("Admin");
    var db = Database.Open("shopping");
    int Quantity = Convert.ToInt32(db.QueryValue("select  Quantity from Products where Id=@0", UrlData[0]));   
    if (IsPost)
    {

        if (Authorised)
        {
            if (Request.Form["Type"] == "Update")
            {
                db.QuerySingle("update products set Name=@0, Price=@1 , Description=@2 where Id=@3", Request.Form["name"], Convert.ToSingle(Request.Form["price"]), Request.Form["desc"], Convert.ToInt32(UrlData[0]));
            }
            else if (Request.Form["Type"] == "Delete")
            {
                db.Execute("Delete from products where id=@0", Convert.ToInt32(UrlData[0]));
                Response.Redirect("~/Category/");
            }

            //WriteHelpers.UpdateRowProduct(UrlData[0], Request.Form["name"], Request.Form["desc"], Request.Form["price"]);
        }

        if (WebSecurity.IsAuthenticated )
        {
            
            if (Request.Form["Type"] == "AddToCart" && Validation.IsValid())
            {
                int CurrentSaleId = -1;
                if (Session["CurrentSale"] == null || Convert.ToString(Session["CurrentSale"]) == "" || Convert.ToInt32(Session["CurrentSale"]) == -1 )
                {

                    var SidRes = db.Query("select SaleID from Sale where Status = @0 and UserID=@1 ", "InProcess", WebSecurity.CurrentUserId);

                    if (SidRes.Count() > 0)
                    {
                        Session["CurrentSale"] = SidRes.ElementAt(0).SaleID;
                    }
                    else
                    {

                        DateTime dt = DateTime.Now;


                        db.Execute("insert into Sale(UserId,Status,Date) values(@0,@1,@2)", WebSecurity.CurrentUserId, "InProcess", dt);
                        CurrentSaleId = Convert.ToInt32(db.QueryValue("select SaleId from Sale where Date=@0 and UserId=@1", dt, WebSecurity.CurrentUserId));
                        Session["CurrentSale"] = CurrentSaleId;
                    }
                }
                else
                {
                    CurrentSaleId = Convert.ToInt32(Session["CurrentSale"]);
                }


                int NextLineNo = db.QueryValue("select  Count(*) from SaleLineItems where SaleId=@0", CurrentSaleId) + 1;
                
                if (Quantity - Request["Qty"].AsInt()  >=0)
                {
                    db.Execute("Update Products set Quantity= @0 where Id = @1", Quantity - Request["Qty"].AsInt(), UrlData[0]);
                    dynamic Qres=1;
                    if ( (Qres=db.QuerySingle("select * from SaleLineItems where SaleID=@0 and ProductID=@1",CurrentSaleId,UrlData[0]) ) != null) {
                        db.Execute("Update SaleLineItems set Quantity= @0 where ProductId = @1 and SaleID = @2", Qres.Quantity + Request["Qty"].AsInt(), UrlData[0], CurrentSaleId);
                        
                    }
                    else
                    {
                    db.Execute("insert into SaleLineItems(SaleID,ProductID,Quantity,LineID) values(@0,@1,@2,@3)", CurrentSaleId, UrlData[0], Request["Qty"], NextLineNo);
                    }
                    Quantity = Quantity - Request["Qty"].AsInt();
                }
                
                    
                
            }
        }
        else
        {
    <text>You need to sign in.Click the Top right button to sign in. or Register.</text>
    
                
        }


    }



    var row = db.Query("select * from Products where Id = @0", UrlData[0]);

    db.Close();
    dynamic elem = row.ElementAt(0);
    
}
<link href="~/css/jquery.toggleedit.css" rel="stylesheet" />
<script src="~/Scripts/jquery.toggleedit.min.js"></script>
<form action="#" method="post" id="Frm">
    <div class="row-fluid" style="text-align: center">
        <h1>
            <input type="text" value="@elem.Name" name="name" id ="name" /></h1>
        <br />
    </div>
    <div class="row-fluid floatShadow well bgwhite">

        <div class="row-fluid">
            <div class="span4">
                <img src= "../../Images/large/@elem.Image" />



            </div>
            <div class="span8" id="features">

                <h2>Product Features</h2>

                <div class="content ">
                    <textarea id="desc" name="desc">@elem.Description
              </textarea>

                </div>
            </div>
        </div>

        <div class="row-fluid" style="text-align: center">
            <p>
                Price:
                <input type="text"name="price" id="price" value="@elem.Price" />
            </p>
            Quantity:
            <input type="text" name="Qty" value="1" class="span1" style="margin-left: 10px" @Validation.For("Qty") /> @Html.ValidationMessage("Qty")<br />
            <br />
            <p> Quantity Available @Quantity</p>
            <button class="btn btn-info" type="submit" id="Atc"><i class="icon-white icon-plus"></i>Add To Cart </button>


        </div>
        @if (Authorised)
        {
            <div class="row-fluid">
                <button class="btn btn-info" id="Up"><i class="icon-white icon-plus"></i>Update</button>
                <button class="btn btn-info" id="Del"><i class="icon-white icon-plus"></i>Delete</button>
            </div>
        }

    </div>
</form>

<script>

    $('#desc').toggleEdit({
        @if (!Authorised)
        {
            <text>
        onedit: function () {

            $(this).toggleEdit('preview');

        }
            </text>
        }
    });
    $('#price').toggleEdit({
        @if (!Authorised)
        {
            <text>
        onedit: function () {

            $(this).toggleEdit('preview');

        }
        </text>
        }
    });

    $('#name').toggleEdit({
        @if (!Authorised)
        {
            <text>
        onedit: function () {

            $(this).toggleEdit('preview');

        }
        </text>
        }
    });


    var Istoggled = false;
    $("#Up").click(function () {

        var v = $("#Frm");
        $("<input>", { type: "hidden", name: "Type" }).appendTo($(v)).val("Update");

        $('#Frm').submit();

    }
    );
    $("#Del").click(function () {

        var v = $("#Frm");
        $("<input>", { type: "hidden", name: "Type" }).appendTo($(v)).val("Delete");

        $('#Frm').submit();
        alert("here");
    }
        );

    $('#Atc').click(function () {

        var v = $("#Frm");
        $("<input>", { type: "hidden", name: "Type" }).appendTo($(v)).val("AddToCart");

        $('#Frm').submit();

    });
</script>
